.scoreField {
    background-color: #cbe552;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: none;
    padding: 0.25em;
    padding-left: 1.5em;
    min-width: 8em;
}

input:invalid {
    color: #6e0303;
}